* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

nav {
    color: #fff;
    background-color: #1C66BD;
}

.main {
    color: #fff;
    background-color: #2176FF;
}

footer {
    background-color: #1C66BD;
    display: flex;
    color: #fff;
}

.icon {
    width: 2rem;
}
