/*
TODO Make it responsiv
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

header {
    color: #fff;
    position: absolute;
    width: 100%;
    min-height: 7%;
    font-size: 2rem;
    top: 0;
    background-color: #1C66BD;
}

h1 {
    height: auto;
}

body {
    min-height: 100%;
    position: relative;
    background-color: #2176FF;
    font-family: 'Poppins', sans-serif;
}

body::after {
    content: '';
    display: block;
    height: 100px;
}


.flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
}

/* Made the main div cover the remaining window*/
.main {
    color: #fff;
    top: 7%;
    position: absolute;
    height: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.container {
    min-width: 50%;
}

/* <Passowrd>  */

.password-container {
    background-color: #fff;
    color: #333;
    width: 46%;
    margin: 0 auto;
    height: 5.5rem;
    border-radius: 10px;
}

#generated-password {
    text-align: center;
    font-size: 2.5rem;
    padding-top: 4%;
}

/* </Passowrd>  */

/* <Button> */

.btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.btn {
    color: #fff;
    background-color: #33A1FD;
    border: none;
    height: 5rem;
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 10px;
    cursor: pointer;
}

.btn-rep {
    font-size: 3rem;
    font-weight: 500;
}

.btn:hover {
    background-color: #4ca4ec;
}

.btn:active {
    scale: 0.98;
}

/* </Button> */

/* Bottom */

footer {
    background-color: #1C66BD;
    color: #fff;
    position: absolute;
    width: 100%;
    height: 6%;
    bottom: 0;
    font-size: 1.25rem;
}

.icon {
    width: 2rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

@media only screen and (max-width: 640px) {

    html,
    body {
        overflow-x: hidden;
    }

    body {
        position: relative;
    }

    .main {
        width: 100%;
        position: fixed;
    }

    .container {
        min-width: 100%;
        display: inline;
    }

    #generated-password {
        margin-top: 5%;
        font-size: 1.3rem;
    }

    .icon {
        margin-top: 0.45rem;
    }
    footer p {
        margin-top: 0.45rem;
    }
}